<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
https://gall.dcinside.com/board/lists?id=mystery

<li class="visit_mystery"><a href="//gall.dcinside.com/board/lists?id=mystery"
                                                                     data-link="//gall.dcinside.com/board/lists?id=mystery"
                                                                     class="logClass" depth1="topframe"
                                                                     depth2="gall_lately" depth3="mystery">미스터리</a>
                                            <button type="button" class="btn_visit_del" data-id="mystery"
                                                    data-gtype="G"><span class="blind">삭제</span><em
                                                    class="icon_visit_del"></em></button>
                                        </li>


<form name="frm">
                        <input type="hidden" id="current_type" name="current_type" value="list">
                        <input type="hidden" id="list_url" name="list_url"
                               value="https://gall.dcinside.com/board/lists?id=mystery">
                        <input type="hidden" id="current_params" name="current_params" value="&amp;page=1">
                        <input type="hidden" id="exception_mode" name="exception_mode" value="all">
                        <input type="hidden" id="list_num" name="list_num" value="50">
                        <input type="hidden" id="page" name="page" value="1">
                        <input type="hidden" id="sort_type" name="sort_type" value="N">
                        <input type="hidden" id="board_type" name="board_type" value="list">
                        <input type="hidden" id="search_head" name="search_head" value="">
                        <input type="hidden" id="gallery_id" name="gallery_id" value="mystery">
                        <input type="hidden" id="gallery_name" name="gallery_name" value="미스터리">
                        <input type="hidden" id="no" name="gallery_no" value="">
                        <input type="hidden" id="s_type" name="s_type" value="">
                        <input type="hidden" id="s_keyword" name="s_keyword" value="">
                        <input type="hidden" id="e_s_n_o" name="e_s_n_o" value="3eabc219ebdd65f4">
                    </form>
</body>
</html>