{% extends "board_list/base.html" %}
{% block contents %}
    <div class="wrap_inner">

        <main id="container" class="listwrap clear">
            <!-- left_content -->
            <section class="left_content">

                <!-- 갤리명 타이틀바 ~ 이용안내 -->

                <header>
                    <div class="page_head clear">
                        <div class="fl clear">


                            <h2><a>Board List</a></h2>


                        </div>
                    </div>
                </header>
                <article>

                    <div class="issue_wrap">
                        <div class="issuebox gallery_box">



                            <!-- 최근방문 갤러리 -->
                            <div class="newvisit_history" id="visit_history">
                                <h3 class="tit">커뮤니티</h3>
                                <div class="newvisit_box">
                                    <ul class="newvisit_list ui-draggable ui-draggable-handle" style="left:0px;">
                                        <li class="visit select_cate"><a class="select_cate_a" href="//gall.dcinside.com/board/lists?id=mystery"
                                                                     data-link="//gall.dcinside.com/board/lists?id=mystery"
                                                                     class="logClass" depth1="topframe"
                                                                     depth2="gall_lately" depth3="mystery">All</a>
                                            <button type="button" class="btn_visit_del" data-id="mystery"
                                                    data-gtype="G"><span class="blind">삭제</span><em
                                                    class="icon_visit_del"></em></button>
                                        </li>
                                        <li class="visit"><a href="//gall.dcinside.com/board/lists?id=mystery"
                                                                     data-link="//gall.dcinside.com/board/lists?id=mystery"
                                                                     class="logClass" depth1="topframe"
                                                                     depth2="gall_lately" depth3="mystery">Theqoo</a>
                                            <button type="button" class="btn_visit_del" data-id="mystery"
                                                    data-gtype="G"><span class="blind">삭제</span><em
                                                    class="icon_visit_del"></em></button>
                                        </li>
                                        <li class="visit"><a href="//gall.dcinside.com/board/lists?id=mystery"
                                                                     data-link="//gall.dcinside.com/board/lists?id=mystery"
                                                                     class="logClass" depth1="topframe"
                                                                     depth2="gall_lately" depth3="mystery">Instiz</a>
                                            <button type="button" class="btn_visit_del" data-id="mystery"
                                                    data-gtype="G"><span class="blind">삭제</span><em
                                                    class="icon_visit_del"></em></button>
                                        </li>
                                        <li class="visit"><a href="//gall.dcinside.com/board/lists?id=mystery"
                                                                     data-link="//gall.dcinside.com/board/lists?id=mystery"
                                                                     class="logClass" depth1="topframe"
                                                                     depth2="gall_lately" depth3="mystery">Fmkorea</a>
                                            <button type="button" class="btn_visit_del" data-id="mystery"
                                                    data-gtype="G"><span class="blind">삭제</span><em
                                                    class="icon_visit_del"></em></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article>



                    <!--상단 탭-->
                    <div class="list_array_option clear">
                        <div class="array_tab left_box">
                            <button type="button" class="on" onclick="listKindTab('all','list');return false;">최신순
                            </button>

                            <button type="button" class="" onclick="listKindTab('recommend','list');return false;">댓글순
                            </button>


                            <button type="button" class="" onclick="listKindTab('notice','list');return false;">조회순
                            </button>
                            <!--<button type="button" class="" onclick="listKindTab('movie','list');return false;">동영상</button>-->

                        </div>
{#                        <div class="right_box">#}
{#                            <div class="output_array clear" style="display:block">#}
{#                                <div class="select_box array_num">#}
{#                                    <select name="numbers" id="sarray_numbers">#}
{#                                        <option value="30">30개</option>#}
{#                                        <option value="50">50개</option>#}
{#                                        <option value="100">100개</option>#}
{#                                    </select>#}
{#                                    <div class="select_area"><a href="#"#}
{#                                                                onclick="showLayer(this, 'listSizeLayer');return false;">50개<span#}
{#                                            class="blind">페이지당 게시물 노출 옵션</span><em class="sp_img icon_option_more"></em></a>#}
{#                                    </div>#}
{#                                    <ul id="listSizeLayer" class="option_box" style="left:0;top:20px;display:none">#}
{#                                        <li><a href="javascript:listDisp(30)">30개</a></li>#}
{#                                        <li><a href="javascript:listDisp(50)">50개</a></li>#}
{#                                        <li><a href="javascript:listDisp(100)">100개</a></li>#}
{#                                    </ul>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <!-- 갤러리 리스트 -->
                    <div class="gall_listwrap list">
                        <!-- 게시판형 갤러리 리스트-->
                        <table class="gall_list">
{#                            <caption>갤러리 리스트</caption>#}
                            <colgroup>
                                <col style="width:7%">
                                <col>
                                <col style="width:18%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:6%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">제목</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">작성일</th>
                                <th scope="col">조회</th>
                                <th scope="col">사이트</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="ub-content ">

                                <td class="gall_num">설문</td>

                                <script src="/_js/survey.js"></script>

                                <td class="gall_tit ub-word"><a href="javascript:;"
                                                                onclick="survey_layer('http://dcinside.mycelebs.com/new/vote_view.php?tidx=2485');"><em
                                        class="icon_img icon_survey"></em><b>정부 대변인 해도 잘할 것 같은 말빨 갑 스타는?</b></a></td>

                                <td class="gall_writer ub-writer" user_name="운영자" style="cursor: pointer;"><b>운영자</b>
                                </td>
                                <td class="gall_date">22/03/22</td>
                                <td class="gall_count">-</td>
                                <td class="gall_recommend">-</td>
                            </tr>
                            <tr class="ub-content ">

                                <td class="gall_num">AD</td>

                                <td class="gall_tit ub-word"><a
                                        href="http://addc.dcinside.com/NetInsight/click/dcinside/adver/adver@text?ads_id=13940&amp;creative_id=69487&amp;click_id=65431"
                                        target="_blank"><em class="icon_img icon_ad"></em><b>[다나와] 비비고 왕만두 30알 7천원대! 무조건
                                    이득</b></a></td>

                                <td class="gall_writer ub-writer" user_name="운영자" style="cursor: pointer;"><b>운영자</b>
                                </td>
                                <td class="gall_date">22/03/14</td>
                                <td class="gall_count">-</td>
                                <td class="gall_recommend">-</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- //갤러리 리스트 -->

                    <div class="list_bottom_btnbox">
                        <div class="fl">
                            <button type="button" class="list_bottom btn_blue"
                                    onclick="listKindTab('all','list');return false;">전체글
                            </button>

                            <button type="button" class="list_bottom btn_white"
                                    onclick="listKindTab('recommend','list');return false;">개념글
                            </button>


                        </div>
                        <div class="fr">
                            <button type="button" id="btn_write" class="btn_blue write"
                                    onclick="goWrite('https://gall.dcinside.com/board/write/?id=mystery')">글쓰기
                            </button>
                        </div>
                    </div>
                    <!-- 페이징 -->
                    <div class="bottom_paging_wrap">
                        <div class="bottom_paging_box iconpaging">
                            <em>1</em><a href="/board/lists/?id=mystery&amp;page=2">2</a><a
                                href="/board/lists/?id=mystery&amp;page=3">3</a><a
                                href="/board/lists/?id=mystery&amp;page=4">4</a><a
                                href="/board/lists/?id=mystery&amp;page=5">5</a><a
                                href="/board/lists/?id=mystery&amp;page=6">6</a><a
                                href="/board/lists/?id=mystery&amp;page=7">7</a><a
                                href="/board/lists/?id=mystery&amp;page=8">8</a><a
                                href="/board/lists/?id=mystery&amp;page=9">9</a><a
                                href="/board/lists/?id=mystery&amp;page=10">10</a><a
                                href="/board/lists/?id=mystery&amp;page=11">11</a><a
                                href="/board/lists/?id=mystery&amp;page=12">12</a><a
                                href="/board/lists/?id=mystery&amp;page=13">13</a><a
                                href="/board/lists/?id=mystery&amp;page=14">14</a><a
                                href="/board/lists/?id=mystery&amp;page=15">15</a><a
                                href="/board/lists/?id=mystery&amp;page=16" class="sp_pagingicon page_next">다음</a><a
                                href="/board/lists/?id=mystery&amp;page=20995" class="sp_pagingicon page_end">끝</a>
                        </div>



                    </div>
                    <!-- //페이징 -->


                    <!-- 갤러리 내 검색 -->
                    <form name="frmSearch" method="post">
                        <fieldset>
                            <legend class="blind">갤러리 내부 검색</legend>
                            <div class="buttom_search_wrap clear">
                                <div class="select_box bottom_array fl">
                                    <select id="search_type" name="search_type">
                                        <option value="search_subject_memo">제목+내용</option>
                                        <option value="search_subject">제목</option>
                                        <option value="search_memo">내용</option>
                                        <option value="search_name">글쓴이</option>
                                        <option value="search_comment">댓글</option>
                                    </select>
                                    <div class="select_area" onclick="showLayer(this, 'searchTypeLayer');return false;">
                                        <span id="search_type_txt">제목+내용</span><span class="blind">게시물 정렬 옵션</span>
                                        <span class="inner"><em class="sp_img icon_option_more"></em></span>
                                    </div>
                                    <ul id="searchTypeLayer" class="option_box" style="left:-1px;top:36px;display:none">
                                        <li onclick="javascript:searchTypeSel('search_subject_memo')">제목+내용</li>
                                        <li onclick="javascript:searchTypeSel('search_subject')">제목</li>
                                        <li onclick="javascript:searchTypeSel('search_memo')">내용</li>
                                        <li onclick="javascript:searchTypeSel('search_name')">글쓴이</li>
                                        <li onclick="javascript:searchTypeSel('search_comment')">댓글</li>
                                    </ul>
                                </div>
                                <div class="bottom_search fl clear">
                                    <div class="inner_search">
                                        <input class="in_keyword" type="text" name="search_keyword" title="검색어 입력"
                                               value="">
                                    </div>
                                    <button class="sp_img bnt_search" onclick="search('');return false;"><span
                                            class="blind">검색</span></button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </article>
            </section>


        </main>
    </div>
{% endblock %}