[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/board-mongodb/myvenv/bin/uwsgi -i /srv/board-mongodb/.config/uwsgi/board.ini


Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target